* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("hout.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.content {
    background-color: #2f3640;
    height: 300px;
    border-radius: 10px;
    padding-top: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 50%;
    border: 2px solid #353b48;
    box-shadow: 5px 5px 5px black;
}
div h1{
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
}
input {
    background-color: #27ae60;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* voor bob's mac */
    transition-duration: 0.4s;
    cursor: pointer;
}

.absent {
    background-color: #2f3640;
    border: 2px solid #e74c3c;
    color: white;
}
.absent:hover {
    background-color: #e74c3c;
    color: white;
}

.present {
    background-color: #2f3640;
    border: 2px solid #27ae60;
    color: white;
}
.present:hover {
    background-color: #27ae60;
    color: white;
}